.profile {
	width: 100%;
	overflow:hidden;
	border: 2px solid blue;
	height:200px;
}


.container {
/*	border: 2px solid green;*/
/*	background:url("../diamond.jpg") no-repeat center center;
	background-size:cover;*/

}

body {
	background:url("../images/diamond.jpg") no-repeat center center;
	background-size:cover;
}

.fancytitle {
	color: black;
	font-size:3em;
}

.answers {
	font-family:lato;
	color:black;
	font-size:1.5em;
	overflow:hidden;
}

.answers:hover{

color:#00008B;

}

.question {
	font-family:lato;
	color:black;
	font-size:1.5em;
}

.font {
	font-family:lato;
	color:black;
}

